* {
    margin: 0;
    padding: 0;
}

@import '_variables';



#grid-container {
    display: grid;
    justify-items: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;
}

#Mainpage-header{
    width: 100%;
    display: grid;
    min-height: 10vh;
    justify-items: center;
    align-items: center;
}


   a{
    color: $font-color;
    size: $font-size;
    font-family: 'Assistant', sans-serif;
    font-family: 'Donegal One', serif;
    font-family: 'Varela Round', sans-serif;
     h {
    font-family: 'Assistant', sans-serif;
    font-family: 'Donegal One', serif;
    font-family: 'Varela Round', sans-serif;
    }
   }

#Mainpage-content {
    width: 100%;
    display: grid;
    min-height: 10vh;
    justify-items: center;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr 1fr;

}   

#Mainpage-Footer{
    width: 100%;
    display: grid;
    min-height: 10vh;
    justify-items: last baseline;
    align-items: last baseline;

       
}

#Aboutpage-header{
    width: 100%;
    display: grid;
    min-height: 10vh;
    justify-items: center;
    align-items: center;
    margin-top: 5vh;
    margin-bottom: 5vh;
    margin-left: 4vw;
    margin-right: 4vw;


}

#Aboutpage-content{
    width: 100%;
    display: grid;
    min-height: 10vh;
    justify-items: center;
    align-items: center;
    margin-top: 5vh;
    margin-bottom: 5vh;
    margin-left: 4vw;
    margin-right: 4vw;


    

}

#Aboutpage-footer{
    width: 100%;
    display: grid;
    min-height: 10vh;
    justify-items: center;
    align-items: center;
}

#Location-header{
    width: 100%;
    display: grid;
    min-height: 10vh;
    justify-items: center;
    align-items: center;
    margin-top: 5vh;
    margin-bottom: 5vh;
    margin-left: 4vw;
    margin-right: 4vw;


}

#Location-content{
    width: 100%;
    display: grid;
    min-height: 10vh;
    justify-items: center;
    align-items: center;
    margin-top: 5vh;
    margin-bottom: 5vh;
    margin-left: 4vw;
    margin-right: 4vw;

    iframe {
        margin-top: 5vh;
        margin-bottom: 5vh;
        margin-left: 3vw;
        margin-right: 3vw;
    }



}

#Location-footer{
    width: 100%;
    display: grid;
    min-height: 10vh;
    justify-items: center;
    align-items: center;


}

#menu-header{ 
    width: 100%;
    display: grid;
    min-height: 10vh;
    justify-items: center;
    align-items: center;

}
#menu-content{
    width: 100%;
    display: grid;
    justify-items: center;
    align-items: center;
    margin-top: 5vh;
    margin-bottom: 5vh;
    margin-left: 3vw;
    margin-right: 3vw;
    


    .card-container{
        max-width: 350px;
        text-align: center;
        margin-top: 5vh;
        margin-bottom: 5vh;
      
       
        

    }
    
}





@media only screen and (min-width: 600px){
    div{
        background-color: white;
    }
}

@media only screen and (min-width: 1080px){
    div{
        background-color: white;
    }
}