* {
    margin: 0;
    padding: 0;
}

@import '_variables';


#grid-container {
    display: grid;
    justify-items: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;
}

#Mainpage-header{
    width: 100%;
    height: 10vh;
    display: grid;
    min-height: 10vh;
}


   a{
    color: $font-color;
    size: $font-size;
   }
