* {
    margin: 0;
    padding: 0;
}

@import '_variables';



#grid-container {
    display: grid;
    justify-items: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;
}

#Mainpage-header{
    width: 100%;
    display: grid;
    min-height: 10vh;
    justify-items: center;
    align-items: center;
}


   a{
    color: $font-color;
    size: $font-size;
    font-family: 'Assistant', sans-serif;
    font-family: 'Donegal One', serif;
    font-family: 'Varela Round', sans-serif;
   }

#Mainpage-content {
    width: 100%;
    display: grid;
    min-height: 10vh;
    justify-items: center;
    align-items: center;

}   

@media only screen and (min-width: 600px){
    div{
        background-color: white;
    }
}

@media only screen and (min-width: 1080px){
    div{
        background-color: white;
    }
}